@charset "utf-8";

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
    background-color: #fff;
    position: relative;
}

#featuresArea {
    padding-top: 140px;
    margin-top: -140px
}

/* 英字部分のフォント指定 */
.trajan {
    font-family: "trajan-sans-pro", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* ----------header---------- */
/* ヘッダー固定 */
header {
    position: absolute;
    width: 100%;
    position: fixed;
    z-index: 100;
}

/* ロゴ調整 */
h1 img {
    display: block;
    padding-top: 8px;
}

h1 {
    font-size: 1.4rem;
    padding-left: 20px;
}

/* h1とヘッダーメニューを横並び */
.header-innerwrap {
    width: 1000px;
    height: 140px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, .85);
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

/* ヘッダーメニューを横並び */
header ul {
    display: flex;
    gap: 30px;
    text-align: center;
    padding-right: 20px;
}

header ul li {
    font-size: 1.4rem;
}

/* 予約ボタン調整（右下固定） */
.reserve-button {
    position: fixed;
    right: 5%;
    z-index: 99;
    margin-bottom: 30px;
}

.reserve-button a {
    font-size: 1.4rem;
    display: block;
    color: #fff;
    background-color: rgba(50, 90, 175, 0.85);
    text-align: center;
    padding: 60px 0;
    width: 180px;
    height: 180px;
    border-radius: 50%;
}

.reserve-button .trajan {
    font-size: 2rem;
    line-height: 2;
}


/* ----------main---------- */
/* メインビジュアル調整 */
.mainvisual {
    position: relative;
}

.slider img {
    width: 100%;
}

h2 img {
    position: absolute;
    width: 60%;
    bottom: 55%;
    left: 10%;
}

/* 診療時間表の位置調整 */
.main-timetable {
    position: absolute;
    bottom: -5%;
    right: 10%;
}

/* 診療時間表の外枠調整 */
.main-table {
    background-color: #fff;
    border-spacing: 0;
    border-collapse: collapse;
    border-radius: 15px;
    /* border: 1px dashed #325aaf; */
    /* borderだと線幅の調整ができない */

    /* ↓線幅は調整できるが、角丸部分がうまく繋がらない */
    background-image:
        linear-gradient(to right, #325aaf, #325aaf 9px, transparent 9px, transparent 19px),
        linear-gradient(to bottom, #325aaf, #325aaf 9px, transparent 9px, transparent 19px),
        linear-gradient(to left, #325aaf, #325aaf 9px, transparent 9px, transparent 19px),
        linear-gradient(to top, #325aaf, #325aaf 9px, transparent 9px, transparent 19px);
    background-size: 19px 1px, 1px 19px, 19px 1px, 1px 19px;
    background-repeat: repeat-x, repeat-y, repeat-x, repeat-y;
    background-position: left top, right top, right bottom, left bottom;
    /* 破線を内側にするために装飾 */
    box-shadow: 0px 0px 0px 10px #fff;
}

.main-table tr {
    font-size: 2.0rem;
}

.main-table th,
.main-table td {
    padding: 38px 22px;
}

.main-table td {
    color: #325aaf;
}

/* 線と表の外枠の間に余白が作れない（くっついてしまう） */
.border {
    border-bottom: 1px solid #325aaf;
}

/* 見出し共通部分フォント調整 */
h3 {
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.5;
    text-align: center;

}

h3 .trajan {
    font-size: 3rem;
}

/* vew more ボタン調整 */
.button a {
    display: block;
    background-color: #325aaf;
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
    width: 305px;
    margin: 0 auto;
    padding: 20px 0;
    border-radius: 15px;
}

.sp {
    display: none;
}

/* ----------information---------- */
.information {
    background-color: #ebf5ff;
    padding-top: 180px;
}

.info-innerwrap {
    width: 1000px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.information h3 {
    margin-bottom: 30px;
}

.info-list {
    font-size: 2rem;
    font-weight: bold;
    text-align: left;
}

.info-list ul {
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    padding: 10px 0;
}

.info-time {
    margin-right: 40px;
}

.bg-decoration img {
    width: 100%;
}

.bg-decoration {
    margin-top: 150px;
}

/* ----------features---------- */
/* featuresセクションの幅、余白設定 */
.features {
    width: 1000px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    margin-top: 150px;
    margin-bottom: 150px;
}

/* 特徴1の背景、フォント、余白設定 */
.features-detail1 h4 {
    font-size: 2.5rem;
    font-weight: bold;
    padding-top: 80px;
    padding-bottom: 40px;
    margin-right: 60px;
}

.features-detail1 p {
    font-size: 1.4rem;
    line-height: 2;
    margin-right: 60px;
}

.features-detail1 {
    background-color: #ebeaea;
    margin-top: 110px;
    width: 560px;
    height: 490px;
    border-radius: 15px;
}

/* 特徴1の写真を重ねる */
.features-right {
    position: absolute;
    top: 150px;
    right: 0px;
}

/* 特徴2の背景、フォント、余白設定 */
.features-detail2 {
    background-color: #ebeaea;
    margin-top: 90px;
    width: 560px;
    height: 490px;
    border-radius: 15px;
    margin-left: auto;
}

.features-detail2 h4 {
    font-size: 2.5rem;
    font-weight: bold;
    padding-top: 80px;
    padding-bottom: 40px;
    margin-left: 60px;
}

.features-detail2 p {
    font-size: 1.4rem;
    line-height: 2;
    margin-left: 60px;
}

.features h4 img {
    margin-right: 20px;
}

/* 見出しの改行によるずれを横並びで調整 */
.detail2 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
}

.detail img {
    margin: auto 0;

}

/* 特徴2の写真を重ねる */
.features-left {
    position: absolute;
    top: 730px;
    left: 0px;
}

.features .button a {
    margin-top: 50px;
}


/* ---------treatment---------- */
/* treatmentエリアの背景、余白設定 */
.treatment {
    background-color: #ebf5ff;
    padding-top: 150px;
    text-align: center;
}

/* アイコン3つを横並び */
.treatment-innerwrap {
    width: 1000px;
    margin: 0 auto;
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
}

/* アイコンの幅、余白設定 */
.icon {
    width: 300px;
    height: 300px;
    background-color: #fff;
    border-radius: 15px;
    padding-top: 50px;
}

/* アイコンの中身のフォント、余白設定 */
.icon p {
    font-size: 2rem;
    font-weight: bold;
    margin-top: 30px;
}

/* アイコン1の位置調整 */
.icon1 {
    padding-left: 40px;
}


/* ----------doctor---------- */
/* doctorエリアの背景、余白設定 */
.doctor {
    width: 1000px;
    margin: 0 auto;
    position: relative;
    padding: 150px 0;
}

/* 見出し調整 */
.doctor h3 {
    margin-bottom: 50px;
}

/* 紹介部分の背景、余白調整 */
.doctor-detail {
    width: 555px;
    height: 600px;
    background-color: #ebeaea;
    border-radius: 15px;
    padding-left: 55px;
    margin-left: auto;
}

/* 中見出しサイズ調整 */
.doctor-detail h4 {
    font-size: 2rem;
    font-weight: bold;
    padding-top: 60px;
    margin-bottom: 50px;
    text-align: center;
}

/* 紹介文文字サイズ、余白調整 */
.doctor dl {
    padding-left: 80px;
}

.doctor dt {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 15px;
}

.doctor dd {
    font-size: 1.6rem;
    line-height: 1.5;
    margin-bottom: 35px;
}

/* 紹介項目の頭に縦棒を追加 */
.doctor dt::before {
    content: "";
    display: inline-block;
    width: 5px;
    height: 25px;
    background-color: #325aaf;
    vertical-align: middle;
    margin-right: 10px;
}

/* 医師写真の位置調整 */
.doctor img {
    position: absolute;
    margin-top: 55px;
    border-radius: 15px;
}


/* ----------q&a--------- */
/* q&aエリアの背景、余白設定 */
.qanda {
    background-color: #ebf5ff;
    padding-top: 150px;
}

/* q&aの幅設定 */
.qanda dl {
    width: 1000px;
    margin: 0 auto;

}

/* 項目の外枠調整 */
.qanda-list {
    background-color: #fff;
    border-radius: 15px;
    margin-top: 50px;
    /* border: 1px dashed #325aaf; */
    /* borderだと線幅の調整ができない */

    /* ↓線幅は調整できるが、角丸部分がうまく繋がらない */
    /* background-image:
        linear-gradient(to right, #325aaf, #325aaf 9px, transparent 9px, transparent 19px),
        linear-gradient(to bottom, #325aaf, #325aaf 9px, transparent 9px, transparent 19px),
        linear-gradient(to left, #325aaf, #325aaf 9px, transparent 9px, transparent 19px),
        linear-gradient(to top, #325aaf, #325aaf 9px, transparent 9px, transparent 19px);
    background-size: 19px 1px, 1px 19px, 19px 1px, 1px 19px;
    background-repeat: repeat-x, repeat-y, repeat-x, repeat-y;
    background-position: left top, right top, right bottom, left bottom; */
    /* 破線を内側にするために装飾 */
    /* box-shadow: 0px 0px 0px 10px #fff; */
}


.qanda dt {
    font-size: 2rem;
    padding-top: 20px;
    padding-bottom: 30px;
    position: relative;
    cursor:pointer
}

.line {
    padding-left: 20px;
    padding-right: 20px;
}

/* 質問の前に「Q」を追加 */
.qanda dt::before {
    content: url(../img/Q1x.png);
    margin: 0 20px;
}

/* 質問の後ろに▼を追加 */
.qanda dt::after {
    content: "";
    border-style: solid;
    border-width: 17.3px 10px 0 10px;
    border-color: #325aaf transparent transparent transparent;
    border-radius: 3px;
    position: absolute;
    top: 50%;
    right: 30px;
}

/* ddのフォント調整 */
.qanda dd {
    font-size: 1.8rem;
    padding: 20px 0;
    border-top: 1px solid #325aaf;
    display: none;
}

/* 回答の前に「A」を追加 */
.qanda dd p::before {
    content: url(../img/A1x.png);
    margin: 0 20px;
    /* display: block; */
}
.qanda dd p {
    display: flex;
}

/* jQuery用　三角の向きを変える */
.qanda dt.open::after {
    content: "";
    border-style: solid;
    border-width: 0 10px 17.3px 10px;
    border-color: transparent transparent #325aaf transparent;
    border-radius: 3px;
    position: absolute;
    top: 50%;
    right: 30px;
}


/* ----------access---------- */
/* accessエリアの背景、余白設定 */
.access {
    padding-top: 150px;
    padding-bottom: 150px;
}

/* 見出し下の余白調整 */
.access h3 {
    margin-bottom: 50px;
}

/* 横並び */
.access-innerwrap {
    width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

/* 各項目のフォント調整 */
.inquiry {
    font-size: 2rem;
    font-weight: bold;
}

.tel {
    font-size: 4rem;
    color: #325aaf;
    margin-top: 10px;
}

.address {
    font-size: 1.6rem;
    margin-top: 15px;
    margin-bottom: 25px;
}

/* 診療時間表調整 */
.access-table {
    width: 450px;
    background-color: #fff;
    border-spacing: 0;
    border-collapse: collapse;
    border-radius: 15px;
    /* border: 1px dashed #325aaf; */
    /* borderだと線幅の調整ができない */

    /* ↓線幅は調整できるが、角丸部分がうまく繋がらない */
    /* background-image:
        linear-gradient(to right, #325aaf, #325aaf 9px, transparent 9px, transparent 19px),
        linear-gradient(to bottom, #325aaf, #325aaf 9px, transparent 9px, transparent 19px),
        linear-gradient(to left, #325aaf, #325aaf 9px, transparent 9px, transparent 19px),
        linear-gradient(to top, #325aaf, #325aaf 9px, transparent 9px, transparent 19px);
    background-size: 19px 1px, 1px 19px, 19px 1px, 1px 19px;
    background-repeat: repeat-x, repeat-y, repeat-x, repeat-y;
    background-position: left top, right top, right bottom, left bottom; */
    /* 破線を内側にするために装飾 */
    /* box-shadow: 0px 0px 0px 10px #fff; */
}

.access-table tr {
    font-size: 1.5rem;
}

.access-table th,
.access-table td {
    padding: 20px 15px;
}

.access-table td {
    color: #325aaf;
}

.access-timetable {
    padding: 10px;
    border: #325aaf solid 1px;
    border-radius: 15px;
}

/* グーグルマップの幅調整 */
iframe {
    width: 500px;
    height: 370px;
}


/* ----------footer---------- */
footer {
    background-color: #ebeaea;
}

.footer-logo img {
    display: block;
}

.footer-innerwrap {
    width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 0;
}

footer ul {
    display: flex;
    gap: 30px;
    text-align: center;
    padding-right: 20px;
}

footer ul li {
    font-size: 1.4rem;
}

.copyright {
    font-size: 1.4rem;
    text-align: center;
    padding-bottom: 50px;
}


/* ハンバーガーメニュー */

/* 三本線のメニュー表示、位置調整 */
.burger {
    width: 60px;
    height: 60px;
    background-image: url(../img/menu.png);
    background-size: 50px;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 100;
    margin: 0 0 0 auto;
    border-radius: 4px;
    position: relative;
    z-index: 102;

    /* 800px以上の画面では非表示に */
    display: none;
    /* カーソルをポインターに */
    cursor: pointer;
}



/* クリックしたときに反映される */
.burger.is-active {
    background-image: url(../img/close.png);
}

body.is-active {
    height: 100%;
  overflow: hidden;
}

/* ハンバーガーメニューの項目表示調整 */
.spmenu {
    color: #000;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 101;

    display: none;
    padding-top: 20px;
}

.burgerlist {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.bottom-button {
    text-align: center;
    margin-top: 30px;
}

.time-link {
    background-color: #325aaf;
    color: #fff;
    font-size: 2rem;
    border-radius: 15px;
    padding: 10px 30px;
    margin-right: 20px;
}

.reserve-link {
    background-color: #325aaf;
    color: #fff;
    font-size: 2rem;
    border-radius: 15px;
    padding: 10px 40px;
    margin-left: 20px;
}

/* メニュー項目の余白調整 */
/* .spmenu li {
    margin-top: 30px;
} */


/* クリックしたときに反映される */
.spmenu.is-active {
    display: flex;
}

/* アニメーション前のメニューの状態 */
.spmenu {
    pointer-events: none;
    opacity: 0;
    transition: opacity .3s linear;
}

/* アニメーション後のメニューの状態 */
.spmenu.is-active {
    pointer-events: auto;
    opacity: 1;
}



/* ---------レスポンシブ---------- */


@media screen and (min-width: 600px) and (max-width:999px) {

    html {
        scroll-behavior: auto;
    }
    .header-innerwrap {
        width: 95%;
        height: 100px;
        margin: 0 auto;
    }

    h1 img {
        width: 60%;
    }

    /* ヘッダーメニュー非表示 */
    header ul {
        display: none;
        padding-right: 0;
    }

    /* 予約ボタン(丸）非表示 */
    .reserve-button a {
        display: none;
    }

    /* バーガーメニュー表示 */
    .burger {
        display: flex;
        margin-top: 17px;
        margin-right: 20px;
    }

    /* 
    ----------main---------- 
    */
    .mainvisual {
        padding-top: 100px;
    }

    .main-timetable {
        display: none;
    }

    /* 
    -----inforamation-----
     */
    .information {
        position: relative;
        padding-top: 70px;
    }

    /* 横並び解除 */
    .info-innerwrap {
        width: 100%;
        display: block;
    }

    /* ボタン位置調整 */
    .information .button {
        position: absolute;
        bottom: 20%;
        left: 0;
        right: 0;
        margin: 0 auto;
    }

    /* インフォリスト中央寄せ */
    .info-list {
        display: inline-block;
        margin: 0 auto;
    }

    /* 
    -----features----- 
    */

    /* position解除 */
    .features {
        width: 100%;
        position: static;
    }

    .features1 {
        display: flex;
        flex-flow: column;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .features-right {
        position: static;
        order: 1;
    }

    /* 説明文の幅、位置調整 */
    .features-detail1 {
        margin: 0 auto;
        width: 500px;
        height: 400px;
        order: 2;
        border-radius: 0 0 15px 15px;
        margin-top: -10px;
    }

    .features-detail1 h4,
    .features-detail1 p {
        margin: 0;
    }

    /* 縦並びで順番変更（画像→文章） */
    .features2 {
        display: flex;
        flex-flow: column;
    }

    /* 説明文の幅、位置調整 */
    .features-detail2 {
        margin: 0 auto;
        width: 500px;
        height: 400px;
        order: 2;
        border-radius: 0 0 15px 15px;
        margin-top: -10px;
    }

    .features-detail2 h4,
    .features-detail2 p {
        margin: 0;
    }

    .features-left {
        position: static;
        order: 1;
    }


    /* 
    -----treatment----- 
    */

    /* 横並び→縦並び配置 */
    .treatment-innerwrap {
        width: 300px;
        flex-direction: column;
        justify-content: center;
        gap: 50px;
    }


    /* 
    -----doctor----- 
    */

    /* 幅調整、position解除 */
    .doctor {
        width: 100%;
        position: static;
    }

    .doctor img {
        position: static;
        margin: 0;
    }

    .doctor-img {
        text-align: center;
    }

    /* 説明文の幅調整 */
    .doctor-detail {
        width: 500px;
        margin: 0 auto;
        padding: 0;
        border-radius: 0 0 15px 15px;
        margin-top: -10px;
    }

    .doctor dl {
        padding: 0;
        margin-left: 15%;
    }


    /* 
    -----q&A----- 
    */

    .qanda dl {
        width: 90%;
    }

    .sp {
        display: block;
    }

    .qanda dt {
        display: flex;
        padding-top: 50px;
    }

    .qanda dt::before {
        display: block;
    }

    /* 
    -----access----- 
    */

    /* 幅調整、横並び解除→縦並び */
    .access-innerwrap {
        width: 100%;
        flex-direction: column;
        text-align: center;
    }

    /* 地図とアクセス詳細の並び変更 */
    .map {
        order: 1;
    }

    /* アクセス詳細の並び変更 */
    .access-left {
        order: 2;
        display: flex;
        flex-direction: column;
    }

    .address {
        order: 1;
    }

    .inquiry {
        order: 2;
    }

    .tel {
        order: 3;
        margin-bottom: 20px;
    }

    .access-timetable {
        width: 473px;
        margin: 0 auto;
        order: 4;
    }

    /* 
    -----access----- 
    */

    /* 幅調整、横並び解除 */
    .footer-innerwrap {
        width: 100%;
        display: block;
        padding: 30px 0;
    }

    /* フッターメニュー非表示 */
    footer ul {
        display: none;
    }

    /* ロゴサイズ調整 */
    .footer-logo img {
        width: 20%;
        margin: 0 auto;
    }

    /* 下部余白調整 */
    .copyright {
        padding-bottom: 20px;
    }


}

/* 
----------599px以下----------
*/

@media screen and (max-width:599px) {

    html {
        scroll-behavior: auto;
    }
    .header-innerwrap {
        width: 95%;
        height: 100px;
        margin: 0 auto;
    }

    h1 img {
        width: 60%;
    }

    h1 .none {
        display: none;
    }

    /* ヘッダーメニュー非表示 */
    header ul {
        display: none;
        padding-right: 0;
    }

    /* 予約ボタン(丸）非表示 */
    .reserve-button a {
        display: none;
    }

    /* バーガーメニュー表示 */
    .burger {
        display: flex;
        margin-top: 17px;
        margin-right: 20px;
    }

    /* 
    ----------main---------- 
    */
    .mainvisual {
        padding-top: 100px;
    }
    
    h2 img {
        width: 80%;
        bottom: 30%;
        left: 5%;
    }

    .main-timetable {
        display: none;
    }

    h3 {
        font-size: 1.3rem;
    }

    h3 .trajan {
        font-size: 2rem;
    }

    .button a {
        font-size: 1.4rem;
        width: 200px;
    }

    .bg-decoration {
        margin-top: 75px;
    }

    /* 
    -----inforamation-----
     */
    .information {
        position: relative;
        padding-top: 50px;
    }

    /* 横並び解除 */
    .info-innerwrap {
        width: 100%;
        display: block;
    }

    /* ボタン位置調整 */
    .information .button {
        position: absolute;
        bottom: 20%;
        left: 0;
        right: 0;
        margin: 0 auto;
    }

    /* インフォリスト中央寄せ */
    .info-list {
        display: inline-block;
        margin: 0 auto;
        font-size: 1.2rem;
    }

    .info-list ul li {
        padding-bottom: 10px;
    }

    .information .bg-decoration {
        padding-top: 50px;
    }

    /* 
    -----features----- 
    */

    /* position解除 */
    .features {
        width: 100%;
        position: static;
        margin: 75px 0;
    }

    .features1 {
        display: flex;
        flex-flow: column;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .features-right {
        position: static;
        order: 1;
    }

    /* 説明文の幅、位置調整 */
    .features-detail1 {
        margin: 0 auto;
        width: 80%;
        height: 350px;
        order: 2;
        border-radius: 0 0 15px 15px;
        margin-top: -10px;
    }

    .features-detail1 h4,
    .features-detail1 p {
        margin: 0;
    }

    .features-detail1 p,
    .features-detail2 p {
        text-align: left;
    }

    /* 縦並びで順番変更（画像→文章） */
    .features2 {
        display: flex;
        flex-flow: column;
    }

    /* 説明文の幅、位置調整 */
    .features-detail2 {
        margin: 0 auto;
        width: 80%;
        height: 300px;
        order: 2;
        border-radius: 0 0 15px 15px;
        margin-top: -10px;
    }

    .features-detail2 h4,
    .features-detail2 p {
        margin: 0;
    }

    .features-left {
        position: static;
        order: 1;
    }

    .features h4 {
        font-size: 1.8rem;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .features p {
        font-size: 1.4rem;
        margin: 0 20px;
    }

    .features-img img {
        width: 80%;

    }

    .features p br {
        display: none;
    }

    /* 
    -----treatment----- 
    */

    /* 横並び→縦並び配置 */
    .treatment {
        padding-top: 75px;
    }

    .treatment-innerwrap {
        width: 300px;
        flex-direction: column;
        justify-content: center;
        gap: 50px;

    }

    .treatment p {
        font-size: 1.8rem;
    }

    /* 
    -----doctor----- 
    */

    /* 幅調整、position解除 */
    .doctor {
        width: 100%;
        position: static;
    }

    .doctor img {
        position: static;
        margin: 0;
        width: 80%;
    }

    .doctor-img {
        text-align: center;
    }

    /* 説明文の幅調整 */
    .doctor-detail {
        width: 80%;
        height: 500px;
        margin: 0 auto;
        padding: 0;
        border-radius: 0 0 15px 15px;
        margin-top: -10px;
    }

    .doctor dl {
        padding: 0;
        width: 260px;
        margin: 0 auto;
    }

    .doctor h4 {
        font-size: 1.8rem;
        margin-bottom: 25px;
        padding-top: 40px;
    }

    .doctor dt {
        font-size: 1.6rem;
        margin-bottom: 5px;
    }

    .doctor dd {
        font-size: 1.5rem;
        margin-bottom: 20px;
    }

    /* 
    -----q&A----- 
    */

    .qanda dl {
        width: 90%;
    }

    .qanda dt {
        font-size: 1.6rem;
    }

    .qanda dd {
        font-size: 1.4rem;
    }

    .sp {
        display: block;
    }

    .qanda dt::after {
        right: 1%;
        top: 50%;
    }

    .qanda dt.open::after {
        right: 1%;
        top: 50%;
    }


    .qanda dt {
        display: flex;
        padding-top: 50px;
    }

    
    


    .qanda dt::before {
        margin: 0 5px;
        content: '';
        /*何も入れない*/
        display: inline-block;
        width: 40px;
        /*画像の幅*/
        height: 30px;
        /*画像の高さ*/
        background-image: url(../img/Q1x.png);
        background-size: contain;
        background-repeat: no-repeat;
        vertical-align: middle;
    }

    .qanda dd p::before {
        margin: 0 5px;
        content: '';
        /*何も入れない*/
        display: inline-block;
        width: 40px;
        /*画像の幅*/
        height: 30px;
        /*画像の高さ*/
        background-image: url(../img/A1x.png);
        background-size: contain;
        background-repeat: no-repeat;
        vertical-align: middle;
    }

    .line {
        padding-left: 10px;
    }

    /* 
    -----access----- 
    */

    /* 幅調整、横並び解除→縦並び */
    .access-innerwrap {
        width: 100%;
        flex-direction: column;
        text-align: center;
    }

    /* 地図とアクセス詳細の並び変更 */
    .map {
        order: 1;
    }

    /* アクセス詳細の並び変更 */
    .access-left {
        order: 2;
        display: flex;
        flex-direction: column;
    }

    .address {
        order: 1;
    }

    .inquiry {
        order: 2;
    }

    .tel {
        order: 3;
        margin-bottom: 20px;
    }

    .access-timetable {
        width: 473px;
        margin: 0 auto;
        order: 4;
    }

    iframe {
        width: 80%;
    }

    .access-table {
        width: 90%;
    }

    .access-timetable {
        width: 90%;
    }

    .access-table th,
    .access-table td {
        padding: 12px 10px;
    }

    .access-table tr {
        font-size: 1.3rem;
    }

    .access {
        padding: 75px 0;
    }

    /* 
    -----footer----- 
    */

    /* 幅調整、横並び解除 */
    .footer-innerwrap {
        width: 100%;
        display: block;
        padding: 30px 0;
    }

    /* フッターメニュー非表示 */
    footer ul {
        display: none;
    }

    /* ロゴサイズ調整 */
    .footer-logo img {
        width: 50%;
        margin: 0 auto;
    }

    /* 下部余白調整 */
    .copyright {
        padding-bottom: 20px;
    }


}